body{
    margin: 0;
    padding: 0;
}

#map{
    width: 100vw;
    height: 100vw;
}

.leaflet-div-icon {
background: none;
border: none;
}

.temperaturLabel{
    display: inline;
font-size: 1.2em;
font-weight:bold;
padding: 0.3em;
border: 1px solid gray;
text-shadow: 
-1px -1px o white,
1px -1px o white,
-1px 1px o white,
1px 1px o white,
}

.windLabel{
    display: inline;
font-size: 1.2em;
font-weight:bold;
padding: 0.3em;
border: 1px solid gray;
text-shadow: 
-1px -1px o white,
1px -1px o white,
-1px 1px o white,
1px 1px o white,
}

.feuchteLabel{
    display: inline;
font-size: 1.2em;
font-weight:bold;
color: white;
padding: 0.3em;
border: 1px solid gray;
text-shadow: 
-1px -1px o white,
1px -1px o white,
-1px 1px o white,
1px 1px o white,
}